body {
  background: #eee;
  font-family: sans-serif;
  margin: 16px auto;
  padding: 24px;
  border: 8px;
}

.card {
  width: 400px;
  background: #fff;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  text-align :center;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 24px;
}
